# Игнорируем всё по умолчанию
*

# Разрешаем YAML, MD, SH, JS в любых каталогах
!*.yaml
!*.md
!*.sh
!*.js*

# Разрешаем структуру каталогов (чтобы Git спускался внутрь)
!*/

# Игнорируем приватное и временное
.storage/
.cloud/
.google.token
home-assistant.log
secrets.yaml

# Оставляем gitignore
!.gitignore

