# Игнорируем всё по умолчанию
*

# Разрешаем YAML, MD, SH, JS в любых каталогах
!*.yaml
!*.md
!*.sh
!*.js*

# Разрешаем структуру каталогов (чтобы Git спускался внутрь)
!*/

# Игнорируем приватное и временное
.storage/
.cloud/
.google.token
home-assistant.log
secrets.yaml

# Оставляем gitignore
!.gitignore

# Игнорируем временные данные Zigbee2MQTT
zigbee2mqtt/state.json
zigbee2mqtt/log/
zigbee2mqtt/data/backup/
zigbee2mqtt/*.db*
zigbee2mqtt/logs/
zigbee2mqtt/tmp/
zigbee2mqtt/state.json
